body {
  padding-top: 50px;
}

.btn-signin-twitter {
	background-color: #33A9E5;
	color: white;
}
.btn-signin-facebook {
	background-color: #3B5998;
	color: white;
}
.btn-signin-google {
	background-color: #D94A38;
	color: white;
}
.btn-logout {
	background-color: #333;
	color: #ccc;
}